:root{
  --dark-background: #1f2937;
  --hero-title: #f9faf8;
  --button-color: #3882f6;
  --secondary: #e5e7eb;
}

*, ::before, ::after{
  box-sizing: border-box;
}

body, html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

button{
  background-color: var(--button-color);
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  color: var(--hero-title);
  font-weight: 700;
}

button:hover{
  color: var(--button-color);
  background-color: var(--hero-title);
  cursor: pointer;
}

body{
  display: flex;
  flex-direction: column;
}

img{
  width: 500px;
}

h1{
  font-size: 48px;
  color: var(--hero-title);
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
}

.container.hero{
  background-color: #1f2937;
  padding-bottom: 120px;
}

.logo{
  color: var(--hero-title);
  font-size: 24px;
  font-weight: 700;
}

#navigation, .header-info > p, a{
  color: var(--secondary);
  font-size: 18px;
  text-decoration: none;
}

.header-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 20px;
}

ul{
  display: flex;
  gap: 16px;
  list-style: none;
}

.hero-heading{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.header-info p{
  width: 400px;
}

.information-title h2{
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-background);
}

.container.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container.information > .information-img{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.information-img .image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-img .image p{
  width: 150px;
  text-align: center;
}

.information-img img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}





