*, ::before, ::after{
  box-sizing: border-box;
}

body, html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
}

img{
  width: 500px;
}

h1{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
}

.container.hero{
  background-color: #1f2937;
  padding-bottom: 120px;
}

.logo{
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

#navigation, .header-info > p, a{
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.header-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 20px;
}

ul{
  display: flex;
  gap: 16px;
  list-style: none;
}

.hero-heading{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.header-info p{
  width: 400px;
}






